rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // غيّر الإيميل ده لإيميل الأدمن (بحروف صغيرة)
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'admin@example.com';
    }
    match /products/{id}   { allow read: if true; allow write: if isAdmin(); }
    match /categories/{id} { allow read: if true; allow write: if isAdmin(); }
    match /settings/{id}   { allow read: if true; allow write: if isAdmin(); }
    match /orders/{id} {
      allow create: if request.resource.data.keys().hasOnly(['pid','name','price','date','status','t'])
                    && request.resource.data.status == 'new';
      allow read, update, delete: if isAdmin();
    }
  }
}
